.mtl{

    background: url("../../image/xx.jpg");
    /* height: 100vh; */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}
.mtl.title{
        padding-top: 70px;
        font-size: 72px;
        background: -webkit-linear-gradient(rgb(243, 135, 115), rgb(228, 119, 195));
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

